[package]
name = "cigzip"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
rust-htslib = { version = "0.46.0", default-features = false } # Don't update it, see https://github.com/rust-bio/rust-htslib/issues/434
flate2 = "1.1"
log = "0.4"
env_logger = "0.11"
rayon = "1.10"
libc = "0.2"
indicatif="0.18"

# Dependencies for AGC format (for sequences) support
ragc-reader = { git = "https://github.com/AndreaGuarracino/ragc", branch = "tweaks" }

#lib_wfa2 = { path = "/home/guarracino/Dropbox/git/lib_wfa2"}
lib_wfa2 = { git = "https://github.com/AndreaGuarracino/lib_wfa2", rev = "82e145b222b3503069e54d275bdb272e6d2a96c9" }
#tracepoints = { path = "/home/guarracino/git/tracepoints"}
tracepoints = { git = "https://github.com/AndreaGuarracino/tracepoints", rev = "88b01283c8b0d3ac13ebf5921242f8818af06d40" }
#tpa = { path = "/home/guarracino/git/tpa" }
tpa = { git = "https://github.com/AndreaGuarracino/tpa", rev = "562c4480c8d6e20cba95fbf73b4defb956ee21d6" }

[features]
default = []
